* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: #0f68b1;
    color: #f0f0f0;
}

#card__tarefa {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    margin-bottom: 50px;
}

h2 {
    margin: 20px 0px 10px 0px;
}

#card__tarefa_input {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#inputTarefa {
    width: 550px;
    padding: 14px 8px 14px 40px;
    background-color: #0a497c;
    color: #ffffff;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.card__tarefa_btn_add {
    width: 145px;
    padding: 12px;
    background-color: #0a365a;
    color: #ffffff;
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.card__tarefa_btn_add:hover {
    background-color: #4685b8;
}

#ul__tarefa {
    width: 700px;
    margin: 0;
    padding: 0;
}

#ul__tarefa>li {
    /* Aula de hoje */
    position: relative;
    /* Aula de hoje */
    background-color: #4685b8;
    list-style-type: none;
    padding: 12px 8px 12px 40px;
    border-radius: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.2s;
}

#ul__tarefa>li:hover {
    background-color: #0a497c;
}

#ul__tarefa>li.checked {
    background-color: #495661;
    color: white;
    text-decoration: line-through;
}

#ul__tarefa>li.checked::before {
    content: '';
    position: absolute;
    border: white;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.close {
    right: 0;
    top: 0px;
    width: 145px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    text-align: center;
    padding: 12px 16px 12px 16px;
    background-color: #0a497c;
    color: white;
}

.close:hover {
    background-color: #9c0000;
}

.erro{
    position: absolute;
    top: 120px;
    color: yellow;
}