body {
    font-family: Arial, sans-serif;
    margin: 0;
    position: relative;
    height: 100vh;
    background:
        linear-gradient(to bottom, rgba(240, 248, 255, 0) 0%, rgba(240, 248, 255, 0) 70%, rgba(240, 248, 255, 0) 70%, #f0f8ff 100%),
        linear-gradient(to bottom, rgba(240, 248, 255, 0) 0%, rgba(0, 0, 0, 0.768) 70%);
}

legend {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    color: white;
}

fieldset {
    border: none;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
    background:
        linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgb(73, 73, 73));
    color: white;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="date"],
.form-group input[type="email"],
.form-group {
    width: calc(100% - 22px);
    padding: 10px;
    font-size: 14px;
    border: none;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: white;
}

#additional-rows-container {
    margin-bottom: 20px; /* Ajuste o espaço abaixo do contêiner de linhas adicionais */
}

.additional-row {
    width: calc(100% - 22px);
    padding: 10px;
    font-size: 14px;
    border: none;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: white;
}

/* Estilo para o textarea de Observações Adicionais */
.fixed-textarea {
    width: calc(100% - 22px);
    height: 100px;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    background-color: white;
    margin-top: 10px; /* Espaço acima do textarea */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.buttons {
    text-align: center;
    margin-top: 10px; /* Adiciona um pouco de espaço acima dos botões */
}

.buttons button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
}

.buttons button:hover {
    color: white;
    font-weight: bold;
    background-color: #ff5f2d;
}

.Form-cliente > button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
}

.button:hover {
    color: white;
    font-weight: bold;
    background-color: #ff5f2d;
}

